<section class="pokemon-list">

    <div class="container">

        <div class="row g-4">

            @for (pokemon of pokemonsFiltrados(); track pokemon.id) {

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">

                <a class="pokemon-card" [routerLink]="['/pokedex/pokemon', pokemon.name]">

                    <div class="pokemon-image">
                        <img [src]="pokemon.sprite" [alt]="pokemon.name">
                    </div>

                    <div class="pokemon-info">

                        <span class="pokemon-number">
                            #{{ pokemon.id.toString().padStart(3, '0') }}
                        </span>

                        <h2 class="pokemon-name">
                            {{ paraTitleCase(pokemon.name) }}
                        </h2>

                        <div class="pokemon-types">

                            @for (tipo of pokemon.types; track tipo) {

                            <span class="pokemon-type" [class]="'pokemon-type ' + tipo">
                                {{ paraTitleCase(tipo) }}
                            </span>

                            }

                        </div>

                    </div>

                </a>

            </div>

            }

        </div>

    </div>

    @if (!regiao() && !formaRegional() && !formaAlternativa()) {
    <div class="pokemon-pagination">

        <button type="button" class="botao-anterior" (click)="paginaAnterior()">
            ← Anterior
        </button>

        <button type="button" class="botao-proximo" (click)="proximaPagina()">
            Próximo →
        </button>

    </div>
    }
</section>