@if (pokemon(); as dados) {

<section class="pokemon-detalhes">

    <!-- VOLTAR -->
    <div class="voltar-container">
        <a routerLink="/" class="botao-voltar">
            ← Voltar
        </a>
    </div>


    <!-- CONTAINER PRINCIPAL -->
    <div class="pokemon-detalhes-container">

        <!-- CABEÇALHO -->
        <div class="pokemon-detalhes-header">

            <span class="pokemon-detalhes-numero">
                #{{ dados.id.toString().padStart(3, '0') }}
            </span>

            <h1 class="pokemon-detalhes-nome">
                {{ dados.name }}
            </h1>

        </div>


        <!-- INFORMAÇÕES PRINCIPAIS -->
        <div class="pokemon-detalhes-principal">

            <!-- IMAGEM -->
            <div class="pokemon-detalhes-imagem">

                <div class="pokemon-sprite-container">

                    <img [src]="
            artwork()
                ? (
                    shiny()
                        ? (dados.artworkShiny ?? 'images/pokebola.png')
                        : (dados.artwork ??  'images/pokebola.png')
                  )
                : (
                    shiny()
                        ? (dados.spriteShiny ??  'images/pokebola.png')
                        : (dados.sprite ??  'images/pokebola.png')
                  )
        " [alt]="dados.name">

                </div>


                <!-- CONTROLES DA IMAGEM -->
                <div class="pokemon-imagem-controles">

                    <button type="button" class="botao-shiny" [class.ativo]="shiny()" (click)="alternarShiny()"
                        title="Shiny">
                        {{ shiny() ? 'Normal' : 'Shiny' }}

                    </button>

                    <button type="button" class="botao-artwork" [class.ativo]="artwork()" (click)="alternarArtWork()"
                        title="Artwork">
                        Artwork
                    </button>

                </div>

            </div>


            <!-- INFORMAÇÕES -->
            <div class="pokemon-detalhes-info">

                <!-- TIPO -->
                <div class="pokemon-detalhes-secao">

                    <h2>Tipo</h2>

                    <div class="pokemon-tipos">

                        @for (tipo of dados.types; track tipo) {

                        <span class="pokemon-tipo" [class]="'pokemon-tipo ' + tipo">
                            {{ tipo }}
                        </span>

                        }

                    </div>

                </div>


                <!-- PESO -->
                <div class="pokemon-detalhes-secao">

                    <h2>Peso</h2>

                    <p>
                        {{ dados.peso / 10 }} kg
                    </p>

                </div>


                <!-- ALTURA -->
                <div class="pokemon-detalhes-secao">

                    <h2>Altura</h2>

                    <p>
                        {{ dados.altura / 10 }} m
                    </p>

                </div>


                <!-- HABILIDADES -->
                <div class="pokemon-detalhes-secao">

                    <h2>Habilidades</h2>

                    <div class="pokemon-habilidades">

                        @for (
                        habilidade of dados.habilidades;
                        track habilidade
                        ) {

                        <span>
                            {{ habilidade }}
                        </span>

                        }

                    </div>

                </div>


                <!-- SOM -->
                <div class="pokemon-detalhes-secao">

                    <h2>Som</h2>

                    @if (dados.audio) {

                    <audio [src]="dados.audio" controls></audio>

                    }

                </div>

            </div>

        </div>


        <!-- STATUS -->
        <div class="pokemon-status">

            <h2>Status</h2>

            <div class="pokemon-status-lista">

                @for (
                stat of dados.stats;
                track stat.nome
                ) {

                <div class="pokemon-status-item">

                    <div class="pokemon-status-label">

                        <span>
                            {{ stat.nome }}
                        </span>

                        <strong>
                            {{ stat.valor }}
                        </strong>

                    </div>


                    <div class="pokemon-status-barra">

                        <div class="pokemon-status-progresso" [style.width.%]="(stat.valor / 255) * 100"></div>

                    </div>

                </div>

                }

            </div>

        </div>

    </div>

</section>

}